-
  const services = [
    {
      image: '@img/services/environmental.svg',
      title: 'Environmental Consulting',
      text: 'We focus on ergonomics and meeting you where you work.',
    },
    {
      image: '@img/services/finance.svg',
      title: 'Finance and consultancy ',
      text: `Just type what's on your mind and we'll get you there.`,
    },
    {
      image: '@img/services/financialServices.svg',            
      title: 'Financial Services Consulting',
      text: 'the quick fox jumps over the lazy dog',
      green: true
    },
  ]

  const adventages = [
    {
      image: '@img/adventages/people.svg',
      title: '972 +',
      text: 'Consumer Products',
    },
    {
      image: '@img/adventages/graph.svg',
      title: '181 +',
      text: `Financial Services`,
    },
    {
      image: '@img/adventages/honors.svg',            
      title: '98%',
      text: 'Environmental',
    },
    {
      image: '@img/services/environmental.svg',            
      title: '746 +',
      text: 'Business & Finance',
    },
  ]

  const practice = [
    {
      image: '@img/practice/01.jpg',
      title: 'A single source of truth',
      text: 'Newton thought that light was made up of particles, but then it was discovered',
    },
    {
      image: '@img/practice/02.jpg',
      title: 'Fastest way to organize',
      text: `“Quantum mechanics” is the description of the behaviour of matter`,
    },
    {
      image: '@img/practice/03.jpg',
      title: 'Fastest way to take action',
      text: 'They describe a universe consisting of bodies moving',
    },
    {
      image: '@img/practice/04.jpg',
      title: 'Work better together',
      text: 'They finally obtained a consistent description of the behaviour ',
    },
  ]

  const whoweare = [
    {
      image: '@img/whoweare/01.svg',
      title: 'the quick fox jumps over the lazy dog',
      text: 'Things on a very small scale ...',
    },
    {
      image: '@img/whoweare/02.svg',
      title: 'the quick fox jumps over the lazy dog',
      text: `Things on a very small scale ...`,
    },
  ]

  const clients = [
    {
      image: '@img/clients/00.png',
    },
    {
      image: '@img/clients/01.png',
    },
    {
      image: '@img/clients/02.png',
    },
    {
      image: '@img/clients/03.png',
    },
    {
      image: '@img/clients/04.png',
    },
    {
      image: '@img/clients/05.png',
    },
  ]

  const getintouch = [
    {
      image: '@img/getintouch/01.svg',
      emails: ['georgia.young@example.com', 'georgia.young@ple.com'],
      text: 'Get Support',
    },
    {
      image: '@img/getintouch/02.svg',
      emails: ['georgia.young@example.com', 'georgia.young@ple.com'],
      text: `Get Support`,
      big: true,
    },
    {
      image: '@img/getintouch/03.svg',
      emails: ['georgia.young@example.com', 'georgia.young@ple.com'],
      text: 'Get Support',
    },
  ]

  const footer = [
    {
      title: 'Company Info',
      items: ['About Us', 'Carrier', 'We are hiring', 'Blog'],
    },
    {
      title: 'Legal',
      items: ['About Us', 'Carrier', 'We are hiring', 'Blog'],
    },
    {
      title: 'Features',
      items: [
        'Business Marketing',
        'User Analytic',
        'Live Chat',
        'Unlimited Support',
      ],
    },
    {
      title: 'Resources',
      items: ['IOS & Android', 'Watch a Demo', 'Customers', 'API'],
    },
    {
      title: 'Get In Touch',
      items: [
        '(480) 555-0103',
        '4517 Washington Ave. Manchester, Kentucky 39495',
        'debra.holt@example.com',
      ],
      images: [
        '@img/footer/icons/01.svg',
        '@img/footer/icons/02.svg',
        '@img/footer/icons/03.svg',
      ],
    },
  ]
