header.header
  .header__container._container
    a.header__logo(href='#') Relvise
    .header__burger.burger
      span
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href='#') Home
        li.menu__item
          a.menu__link(href='#') Product
        li.menu__item
          a.menu__link(href='#') Pricing
        li.menu__item
          a.menu__link(href='#') Contact

  nav.burger-menu
    .burger-menu__hiden
    a.burger-menu__logo(href='#') Relvise

    ul.burger-menu__list
      li.burger-menu__item
        a.burger-menu__link(href='#') Home
      li.burger-menu__item
        a.burger-menu__link(href='#') Product
      li.burger-menu__item
        a.burger-menu__link(href='#') Pricing
      li.burger-menu__item
        a.burger-menu__link(href='#') Contact
